.row-header{
    margin:0px auto;
    padding:0px;
}

.row-property {
    margin:0px auto;
    padding: 10px 0px 10px 0px !important;
    border-bottom: 1px ridge;
    height: 100% !important;
}

td {
    vertical-align: middle !important;
}
th {
    vertical-align: middle !important;
}

.ellipsis {
    width: 200px;
    padding-top: 15px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s linear;
    white-space: nowrap;
    vertical-align: middle !important;
}
.ellipsis:focus, .ellipsis:hover {
  color:transparent;
  vertical-align: middle !important;
}
.ellipsis:focus:after,.ellipsis:hover:after{
    content:attr(data-text);
    overflow: visible;
    text-overflow: inherit;
    background: #fff;
    position: absolute;
    left:auto;
    top:auto;
    bottom: auto;
    right: auto;
    width: auto;
    max-width: 20rem;
    border: 1px solid #eaebec;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.28);
    white-space: normal;
    word-wrap: break-word;
    display:block;
    color:black;
  }

.footer{
    background-color: #2f2f2f;
    font-size:120%;
    color: floralwhite;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.jumbotron {
    padding:20px;
    margin: 0px auto;
    background-color: #2c2c2c;
    color:floralwhite;
}

img{
    width: 25%;
}

i {
    padding: 0 10px 0 10px;
    color: floralwhite !important;
}

.diff {
    color:inherit !important;
    margin-right: -5px;
}

#no-hyper {
    color: floralwhite !important;
    text-decoration: none !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #2d88ff;
}

.table .thead-dark th{
    background-color: #2c2c2c !important;
}
@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 767px) {
  .row-property{
      text-align: center;
  }
  .float-right {
      align-items: center !important;
  }
}
