body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/wallgen.png");
    height: 100%; 

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.form {
    margin: 100px auto;
    width: 350px;
    padding: 30px 25px;
    background: #dae1e2;
    border-radius: 25px;
}

h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
    border-radius: 25px;
}

.login-input:focus {
    border-color:#6e8095;
    outline: none;
}

.form input::placeholder {
    padding: 10px;
}

.login-button {
    color: #fff;
    background: #2587f7;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.login-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}

.link a {
    color: #2587f7;
    text-decoration: none;
}

h3 {
    font-weight: normal;
    color: #666;
    text-align: center;
}
